<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplicación Mapa</title>

    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="leaflet.css" />
    <link rel="stylesheet" href="sweetalert2.min.css" />
    <script src="/javascripts/script.js"></script>

    <style>
      #map {
        height: 800px;
      }

      #names-list {
        max-height: 800px;
      }
    </style>
  </head>

  <body>

<!-- MODAL PARA MOSTRAR INFORMACIÓN -->
<div class="modal fade" id="infoModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-body text-center">
        <img src="/icons/studio.png" class="img-fluid rounded mb-3" style="max-width: 100px; height: auto;" />
        <h5 id="modal-title" class="fw-bold"></h5>
        <p id="modal-description" class="text-muted small"></p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



    <div class="container mt-4">
      <!-- MAPA -->
      <div class="bg-light bg-gradient px-4 pb-4">
        <div class="d-flex flex-row">
          <div id="map" class="col-8"></div>
          <ul
            id="names-list"
            class="col-4 bg-white overflow-auto list-group border p-2"
          ></ul>
        </div>
      </div>
    </div>

    <%- include('partials/footer')%>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="leaflet.js"></script>
    <script src="sweetalert2.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
  </body>
</html>
